{{define "login"}}
<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>login</title>

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-signin.css" rel="stylesheet">

	</head>
	<body>
		<form class="form-signin" action="/admin/auth/" method="post">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputMailAddress" class="sr-only">login name</label>
			<input type="text" name="mail-address" id="inputMailAddress" class="form-control" placeholder="mail address" required autofocus>
			<label for="inputPassword" class="sr-only">password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required>
			<button class="btn btn-lg btn-primary btn-block" style="margin-top:10px" type="submit">sign in</button>
		</form>
		</div> <!-- /container -->
	</body>
</html>
{{end}}
