{{define "settings"}}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{{.CongressNumber}}c3 registration fsinf uni leipzig</title>

		<!-- Bootstrap Core CSS -->
		<link href="/c3/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/c3/static/css/bootstrap-modification.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/c3/static/css/scrolling-nav.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

	<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">{{.CongressNumber}}c3 registration</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
						<li class="hidden">
							<a class="page-scroll" href="admin#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="admin#approved-requests">approved requests</a>
						</li>
						<li>
							<a class="page-scroll" href="admin#waiting-list">waiting list</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="page-scroll" href="admin/userlist">userlist</a>
						</li>
						<li>
							<a class="page-scroll" href="admin/settings">settings</a>
						</li>
						<li>
							<a class="page-scroll" href="admin/logout">logout</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<!-- settings Section -->
		<section id="setting" class="setting-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>settings</h1>
						<div class="row">
							<form class="form-horizontal" role="form" action="admin/settings/profile/" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label class="control-label col-sm-2 col-sm-offset-3" for="first-name">first name</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="first-name" name="first-name" placeholder="{{.UserData.FirstName}}">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2 col-sm-offset-3" for="last-name">last name</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="last-name" name="last-name" placeholder="{{.UserData.LastName}}">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2 col-sm-offset-3" for="mail-address">mail address</label>
									<div class="col-sm-4">
										<input type="email" class="form-control" id="mail-address" name="mail-address" placeholder="{{.UserData.MailAddress}}">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-2 col-sm-3 col-sm-offset-3" for="pwd">passphrase</label>
									<div class="col-sm-2"> 
										<input type="password" class="form-control" id="pwd" placeholder="passphrase" name="passphraseFirst">
									</div>
									<div class="col-sm-2"> 
										<input type="password" class="form-control" id="pwd" placeholder="(retype)" name="passphraseSecond">
									</div>
								</div>
								<div class="form-group"> 
									<div class="col-sm-offset-5 col-sm-1">
										<button type="submit" class="btn btn-success">save</button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- jQuery -->
		<script src="/c3/static/js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/c3/static/js/bootstrap.min.js"></script>

		<!-- Scrolling Nav JavaScript -->
		<script src="/c3/static/js/jquery.easing.min.js"></script>
		<script src="/c3/static/js/scrolling-nav.js"></script>

		<!-- FileStyle JavaScript-->
		<script type="text/javascript" src="/c3/static/js/bootstrap-filestyle.min.js"></script>

	</body>

</html>
{{end}}
