{{define "success-message-section"}}
<!-- Success Section -->
<section id="success" class="success-message-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>success.</h1>
				<p>{{.}}</p>
			</div>
		</div>
	</div>
</section>
{{end}}
