To:  {{.MailAddress}}
Subject: 33C3 sponsoring: registration succesful

Hello {{.FirstName}},

we are happy to support your 33C3 participation. Please remember to
attend the follow-up meeting in January. We will let you know about
the excact date soon.

Please cancel your registration in case you can't attend. Thereby
someone else can be supported.

Your verification ID is: {{.VerificationID}}
Please keep this private.

E-mail us if you have further questions.

Have fun in Hamburg!
You student council for Computer Science
