To:  {{.MailAddress}}
Subject: 33c3@fsinf: registration succesful

Hello {{.FirstName}},

your request for a sponsoring was successful.

Your verification ID is: {{.VerificationID}}
Please keep this private.

Yours sincerely,
Student council Computer Science
