To:  {{.MailAddress}}
Subject: 33C3 sponsoring: request approved

Hello {{.FirstName}},

congratulation, you moved up from waiting list.
Your request is approved now.

Yours sincerely,
Student council Computer Science
