To:  {{.MailAddress}}
Subject: 33C3 sponsoring: request revoked

Hello {{.FirstName}},

you deleted your registration with success. Thank you for letting us know that
you can't participate 33C3 and giving your spot to someone else.

All your data is deleted.

Greetings,
Student Council for Computer Science
