To:  {{.MailAddress}}
Subject: 33c3@fsinf: you are on the waiting list

Hello {{.FirstName}},

because there were no slots available you are on the waiting list.
You will be informed by mail, if your request is getting approved.

Yours sincerely,
Student council Computer Science
