To:  {{.MailAddress}}
Subject: 33C3 sponsoring: you are on the waiting list

Hello {{.FirstName}},

unfortunately, all spots are taking. You are on the waiting list for now
and we will notify you if your status changes.

We hope that you will still be able to participate 33C3.

Greetings,
your student council for Computer Science
